<div class="d-flex flex-column">
	<div>
		<h1>profil numero: <%= @use.id %></h1>
	</div>
	<div>
		<h3><%= @use.first_name %><%= @use.last_name %></h2>
		<p>first_name: <%= @use.first_name %></p>
		<p>last_name: <%= @use.last_name %></p>
		<p>description: <%= @use.description %></p>
		<p>age: <%= @use.age %></p>
		<p>crée le: <%= @use.created_at %></p>
		<p>ville: <%= @use.city.name %></p>
	</div>
</div>