<!DOCTYPE html>
<html>
  <head>
    <title>Gossbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
  </head>

  <body class="bg-warning">
    
    <nav class="pt-4 pb-2 d-flex justify-content-between bg-success">
      <a class="pr-5 text-warning" href="/gossips">accueil</a>

      <% if current_user %>
      <a class="pr-5 text-danger h4" href="/sessions/new" data-method="delete">deconect</a>
      <div>
        <h3 class="text-warning">Bienvenue <%= User.find_by(id: session[:user_id]).first_name %> !</h3>
      </div>
      <% else %>
      <div>
        <a class="pr-5 text-info h4" href="/users/new">inscription</a>
        <a class="text-info h4" href="/sessions/new">login</a>
      </div>
      <div>
        <h3 class="text-warning">Bienvenue inscrit toi vite!</h3>
      </div>
      <% end %>

      <div>
        <a class="pr-3 text-warning" href="/team">team</a>
        <a class="pr-5 text-warning" href="/contact">contact</a>

        <% if current_user %>
        <a class="pr-5 text-warning" href="/gossips/new">create gossip</a>
        <% else %>
        <a class="pr-5 text-warning" href="/sessions/new">create gossip</a>
        <% end %>

      </div>
    </nav>

    <div class="d-flex justify-content-center">
      <%= yield %>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
